# List

In [1]:
# A list is a container which can hold different data types in it.

In [4]:
list = [ 'Gedam', 78, 1524, 128.62]

In [5]:
list.append('London')     # to add object at last of the list
list

['Gedam', 78, 1524, 128.62, 'London']

In [6]:
list.remove(78)         # to remove particular object
list

['Gedam', 1524, 128.62, 'London']

In [7]:
list.insert(3, [1,2,3])   # to add object at specific index
list

['Gedam', 1524, 128.62, [1, 2, 3], 'London']

In [8]:
list.index(128.62)   # to find the index number of particular object

2

In [14]:
list.clear()        # to empty the list
list

[]

# Dictionaries

In [16]:
# Dictionary are unordered Key-Value pair, it is complex Dict class in Python.
# {"KEY":"VALUE"}

In [9]:
dict1 = {'name':'Pravin', 'age':'25', 'number':'1234567892', 'email':'abc@gmail.com'}
dict1

{'name': 'Pravin',
 'age': '25',
 'number': '1234567892',
 'email': 'abc@gmail.com'}

In [10]:
dict1.get('name')

'Pravin'

In [11]:
dict1.pop('age')

'25'

In [12]:
dict1['status'] = 'engaged'         # adding a new element to a dictionary
dict1

{'name': 'Pravin',
 'number': '1234567892',
 'email': 'abc@gmail.com',
 'status': 'engaged'}

In [26]:
dict1.keys()

dict_keys(['name', 'number', 'email', 'status'])

In [13]:
dict1.values()

dict_values(['Pravin', '1234567892', 'abc@gmail.com', 'engaged'])

# Sets

In [29]:
# Sets are used for storing unique values in Python, sets are complex data structures.
# Sets are used for finding common and uncommon objects in Python data types.

In [14]:
set1 = {'Pravin', 'letsupgrade', 1,2,3,4,5,6,6,7,7,7,8}
set1

{1, 2, 3, 4, 5, 6, 7, 8, 'Pravin', 'letsupgrade'}

In [15]:
set2 = {'letsupgrade',7,8}
set2

{7, 8, 'letsupgrade'}

In [32]:
set2.issubset(set1)

True

In [16]:
set2.intersection(set1)

{7, 8, 'letsupgrade'}

In [17]:
set1.add(10)
set1

{1, 10, 2, 3, 4, 5, 6, 7, 8, 'Pravin', 'letsupgrade'}

In [19]:
set2.remove(7)
set2

{8, 'letsupgrade'}

In [41]:
set1.clear()
set1

set()

# Tuples

In [1]:
# Tuples are ordered immutable collection of objects.
# Once the data is written its in that forever.

In [20]:
tup = ('ABC', '$', '%', '@gmail.com', '@xyz.com')
tup

('ABC', '$', '%', '@gmail.com', '@xyz.com')

In [3]:
tup.count('@gmail.com')

1

In [4]:
tup.index('$')

1

# Boolean

In [5]:
# This is the basic data types which stores TRUE or FALSE.

In [6]:
cities = ['Tokyo', 'Nagpur', 'Mumbai', 'Surat', 'Delhi', 'Osaka']
cities

['Tokyo', 'Nagpur', 'Mumbai', 'Surat', 'Delhi', 'Osaka']

In [7]:
'Wardha' in cities

False

In [8]:
'Osaka' in cities

True